@include describe("Chunk") {
	
	@include it("should explode list into several lists") {
		$list-1: 1 2 3 4 5;
		$list-2: "a" "b" "c" "d" "e" "f";

	    @include should(expect( chunk($list-1, 2) ), to( equal( ((1 2) (3 4) (5)) )));
	    @include should(expect( chunk($list-2, 3) ), to( equal( (("a" "b" "c") ("d" "e" "f")) )));
	}

	@include it("should return initial list if size is equal or greater than the length of list") {
		$list-1: 1 2 3 4 5;
		$list-2: "a" "b" "c" "d" "e" "f";

	    @include should(expect( chunk($list-1, 5) ), to( equal( ((1 2 3 4 5)) )));
	    @include should(expect( chunk($list-2, 7) ), to( equal( (("a") ("b") ("c") ("d") ("e") ("f")) )));
	}
}