@include describe("Last-Index") {
    
    $numbers  : 1 2 2 3;
    $strings  : "a" "b" "c" "a";
    $booleans : true false false;
    
    @include it("should return the index of last occurrence of item in a list") {
        @include should(expect( last-index( $numbers, 2      ) ), to( equal( 3 ) ));
        @include should(expect( last-index( $strings, "a"    ) ), to( equal( 4 ) ));
        @include should(expect( last-index( $booleans, false ) ), to( equal( 3 ) ));
    }

}