@include describe("Last") {
    
    @include it("should return the last item in a list") {
        $numbers  :  1 2 3;
        $strings  :  "foo" "bar" "baz";
        $booleans : true false false;

        @include should(expect( last( $numbers  ) ), to( equal( 3     ) ));
        @include should(expect( last( $strings  ) ), to( equal( "baz" ) ));
        @include should(expect( last( $booleans ) ), to( equal( false ) ));
    }

    @include it("should return the only item in an single item list") {
        $numbers  : 1;
        $strings  : "foo";
        $booleans : true;

        @include should(expect( last( $numbers  ) ), to( equal( 1     ) ));
        @include should(expect( last( $strings  ) ), to( equal( "foo" ) ));
        @include should(expect( last( $booleans ) ), to( equal( true  ) ));
    }
}