@include describe("To-String") {
	$numbers  : 1 2 3 4 5;
	$strings  : "a" "b" "c" "d" "e" "f";
	$booleans : true false false true true;

	@include it("should return list as a string using glue") {
	    @include should(expect( to-string( $numbers  , "-") ), to( equal( "1-2-3-4-5"   ) ));
	    @include should(expect( to-string( $strings  , "/") ), to( equal( "a/b/c/d/e/f" ) ));
	    @include should(expect( to-string( $booleans , " ") ), to( equal( "true false false true true" ) ));
	}

	@include it("should return list with no glue if omitted") {
	    @include should(expect( to-string( $numbers  ) ), to( equal( "12345"  )));
	    @include should(expect( to-string( $strings  ) ), to( equal( "abcdef" )));
	    @include should(expect( to-string( $booleans ) ), to( equal( "truefalsefalsetruetrue" )));
	}
}